.roomFlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 16px;
    background-color: #f0f0f0;
    overflow-y: auto;
    width: 800px;
    border-radius: 8px;
    min-height: 400px;
    max-height: 70vh;
}

.island {
    flex-basis: 400px;
    background-color: #b3e0ff;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}

.table {
    flex-basis: 200px;
    background-color: #ffd9b3;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
}