/* Main Container */
.reservationContainer {
    display: flex;
    padding-top: 25vh;
    padding-left: 5%;
    height: 80vh;
    width: 95%;
}

.table-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Adjust for the number of tables */
    gap: 10px;
}

.table {
    padding: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.table.free {
    background-color: green;
    color: white;
}

.table.occupied {
    background-color: red;
    color: white;
}

