/* Reset some basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global body styles */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #ce224c;
  color: #c51111;
}

a {
  text-decoration: none;
  color: inherit;
}
